/*-----------------------------------------------------------------------------------------------
 @Author: Roman Gryndii
 @URL: http://themeforest.net/user/gryndii
[Table of contents]
1.  COMMON ELEMENTS (main text, accordion, tabs, progress bars, buttons, wave overlay...)
2.  HEADER
3.  TOP SLIDER
4.  FEATURES SECTION
5.  PORTFOLIO SECTION
6.  TESTIMONIALS SECTION
7.  STATISTICS SECTION
8.  BLOG SECTION
9.  ABOUT US SECTION
10. SERVICES SECTION
11. TESTIMONIALS VER.2 SECTION
12. OUR CLIENTS SECTION
13. FOOTER
14. ABOUT US/ABOUT US VER.2 PAGE
15.	SERVICES PAGE
16.	CONTACT PAGE
17.	PORTFOLIO PAGE
18.	PORTFOLIO INNER PAGE
19.	BLOG PAGE
20.	BLOG INNER PAGE
21.	SHORTCODES PAGE
22.	MEDIA
-----------------------------------------------------------------------------------------------*/

/*---custom---*/
.center-text {
  text-align: center;
}

.line-height-1-5em {
  line-height: 1.5em;
}

.margin-bottom-1em{
  margin-bottom:1em;
}

.font-size-1-5em {
  font-size: 1.5em;
}

.font-size-105p {
  font-size: 105%;
}

.font-size-110p {
  font-size: 110%;
}

.font-size-120p {
  font-size: 120%;
}

.font-size-130p {
  font-size: 130%;
}

.font-size-140p {
  font-size: 140%;
}

.font-size-150p {
  font-size: 150%;
}

.letter-spacing-1px{
  letter-spacing: 1px;
}

.letter-spacing-05px{
  letter-spacing: 0.5px;
}

.footer-header {
  font-weight:bold;
  color: white;
}

.three-pillars-section {
  font-weight:bold;
  color: #d9534f;
}

.top-slider-mini {
	height: 300px;
	position: relative;
	overflow: hidden;
}

.top-slider-item-mini {
	height: 300px;
	background-size: cover;
	background-position: top;
}


/***VQC CUSTOM FOR CUSTOM NAVBAR BREAKPOINT ***/
/***NEED TO FIT FUTURE NAVBAR ITEMS***/
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

#index-banner-request-demo-button {
  margin-top:20px;
}

.platform-product-row {
  padding-top: 60px;
  padding-bottom: 60px;
}

.platform-product-header {
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 160%;
}

.platform-product-description {
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 0.5px;
  font-size: 105%;
  padding-bottom: 20px;
}

.product-head-blurb {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ecf0f1;
}

/*--common styles--*/
body {
	/*font-family: 'Roboto', sans-serif;*/
	font-family:  sans-serif;
	font-weight: 300;
  font-size: 16px;
	color: #626878;
}

::-moz-selection {
  background: #fb876b;
  color: #fff;
}

::-webkit-selection {
  background: #fb876b;
  color: #fff;
}

::selection {
  background: #fb876b;
  color: #fff;
}

.section-title {
	font-weight: 400;
	font-size: 25px;
	text-align: center;
	color: #474e5e;
	padding-bottom: 30px;
}

.section-title-left {
	padding-bottom: 30px;
	font-weight: 400;
	font-size: 25px;
	text-align: left;
	color: #474e5e;
}
/*Wave-overlay, v1.0.0*/
/*Created by Roman Gryndii http://themeforest.net/user/gryndii*/
/*end wave overlay*/

a {
	color: #fb876b;
}

a:hover {
	color: #e67b62;
}

a:focus {
	color: #e67b62;
}

/*animations*/



/*end animations*/

/*buttons*/
.btn.btn-lg {
	padding: 8px 15px;
	font-size: 16px;
}

.btn {
	border-radius: 3px;
	font-weight: 300;
}

.btn:active {
	box-shadow: none;
}

.btn-default, .btn-default:focus {
	border-color: #eaeaea;
	color: #626878;
	background-color: #fff;
	outline: none!important;
}

.btn-default:hover {
	background-color: #f8f8f8;
	border-color: #eaeaea;
	color: #626878;
}

.btn-default:active, .btn-default:active:focus {
	background-color: #f0f0f0!important;
	box-shadow: none;
	border-color: #eaeaea!important;
	color: #626878!important;
}
/*--end common styles--*/

/*--header--*/
header {
	min-height: 120px;
}

.header-top {
	background-color: #f8f8f8;
	padding: 5px 0;
}

.contacts-top {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	font-weight: 300;
	font-size: 12px;
	color: #626878;
}

.contacts-top li {
	display: inline-block;
	padding-right: 9px;
}

.contacts-top li:last-child {
	padding-right: 0;
}

.social-top {
	cursor: pointer;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	text-align: right;
}

.social-top li {
	display: inline-block;
}

.social-top li a i:before {
	color: #abadbd;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 18px;
	border-right: 1px solid #eaeaea;
	vertical-align: middle;
}

.social-top li:last-child a i:before {
	padding-right: 0;
	border-right: none;
}

.social-top li:first-child a i:before {
	padding-left: 0;
}

.social-top li i:hover::before {
	color: #fb876b;
}

.navbar.navbar-default {
	background-color: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
	padding: 0;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	line-height: 100%;
}

.navbar-brand {
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 80px;
	height: 90px;
	position: relative;
}

.navbar-brand:hover {
}

.navbar-brand:focus {
	outline: none;
}

.navbar-brand img {
	max-height: 50px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 15px;
	right: 0;
}

.nav.navbar-nav.navbar-right > li > a {
	background-color: transparent;
	font-weight: 300;
	color: #7b808e;
	border-bottom: 2px solid transparent;
	padding-top: 2px;
	padding-bottom: 0;
	line-height: 86px;
}

.nav.navbar-nav.navbar-right > li > a:hover {
	color: #fb876b;
	background-color: transparent;
}

.nav.navbar-nav.navbar-right > li.active > a {
	border-color: #fb876b;
	background-color: transparent;
	color: #fb876b;
}

.nav.navbar-nav.navbar-right > li.active.open > a {
	border-color: transparent;
}

.nav.navbar-nav.navbar-right > li > a > span {
	font-size: 10px;
	padding-left: 3px;
	vertical-align: middle;
}

.nav.navbar-nav.navbar-right > li.open > a > span:before {
	transform: rotate(180deg);
	transition: transform .3s;
}

.navbar .dropdown-menu {
	left: 0;
	right: auto;
	border: none;
	border-top:1px solid #fb876b;;
	border-radius: 0;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	padding: 0;
}

.navbar .dropdown-menu li a {
	padding: 7px 20px;
	border-bottom: 1px solid #eaeaea;
	font-weight: 300;
	color: #626878;
	font-size: 13px;
}

.navbar .dropdown-menu li:first-child a {
	padding-top: 9px;
}

.navbar .dropdown-menu li:last-child a {
	padding-bottom: 9px;
}

.navbar .dropdown-menu li a:hover {
	background-color: #f8f8f8;
	color: #fb876b;
}
/*--end header--*/

/*--top slider--*/


.top-slider {
	height: 450px;
	position: relative;
	overflow: hidden;
}

.top-slider-item {
	height: 450px;
	background-size: cover;
	background-position: top;
}

.top-slider-caption {
	padding-top: 62px;
}

.top-slider .btn-default {
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	font-weight: 400;
}

.top-slider .btn-default:hover {
	background-color: #fff;
	color: #626878;
}

.top-slider-title {
	font-size: 40px;
	font-weight: 600;
	color: #fff;
  /*
	opacity: 0;
	-webkit-animation-duration: .35s;
	-o-animation-duration: .35s;
	animation-duration: .35s;
	-webkit-animation-delay: .4s;
	-o-animation-delay: .4s;
	animation-delay: .4s;
	-webkit-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode: both
  */
}

.top-slider-text {
	margin-top: 30px;
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	color: #fff;
  /*
	opacity: 0;
	-webkit-animation-duration: .35s;
	-o-animation-duration: .35s;
	animation-duration: .35s;
	-webkit-animation-delay: .75s;
	-o-animation-delay: .75s;
	animation-delay: .75s;
	-webkit-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode: both
  */
}

.top-slider-caption .btn {
	margin-top: 40px;
  /*
	opacity: 0;
	-webkit-animation-duration: .35s;
	-o-animation-duration: .35s;
	animation-duration: .35s;
	-webkit-animation-delay: 1.45s;
	-o-animation-delay: 1.45s;
	animation-delay: 1.45s;
	-webkit-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode: both
  */
}

.slide-1 {
  /*
	background-image: url(http://placehold.it/3906x2608);
  */
  background-color: #2980b9;
	background-position: center;
}

.slide-1 .top-slider-caption {
	max-width: 700px;
	margin:0 auto;
	padding-top: 90px;
	text-align: center;
}

.slide-1 .top-slider-caption .btn {
	-webkit-animation-delay: 1.1s;
	-o-animation-delay: 1.1s;
	animation-delay: 1.1s;
}
/*--end top slider--*/

/*--features section--*/
/*--end features section--*/

/*--portfolio section--*/
.portfolio-section {
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	background-color: #f8f8f8;
	padding-top: 60px;
	padding-bottom: 30px;
  /*vqc
	padding-bottom: 60px;
  */
}

.portfolio-item {
  /*background-color: rgba(44, 62, 80, 1.0);*/
  background-color: rgba(41, 128, 185, 1.0);
  /*
	padding-bottom: 30px;
  */
  margin-bottom: 30px;
	position: relative;
}

.portfolio-item-inner {
	display: table;
	overflow: hidden;
	display: block;
	position: relative;
}

.portfolio-item img {
	width: 100%;
	transition: .35s;
}

.portfolio-item-overlay {
	position: absolute;
	opacity: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  /*
	background-color: rgba(0,0,0,.5);
  */
  /*background-color: rgba(44, 62, 80, 0.6);*/
  /*background-color: rgba(41, 128, 185, 1);*/
	transition: .4s;
	z-index: 0;
}

.portfolio-ov-description {
	margin-top: -40px;
	width: 100%;
	position: absolute;
	top: 50%;
}

.portfolio-ov-title {
	display: block;
	color: #fff;
	font-size: 19px;
	font-weight: 400;
	text-align: center;
}

.portfolio-ov-category {
	margin-top: 5px;
	display: block;
	color: #fff;
	font-size: 13px;
	font-weight: 300;
	text-align: center;
}

/*
.portfolio-item .popup-link {
	color: #fff;
	font-size: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	margin-left: -12px;
	margin-top: 0;
	outline: none;
	opacity: 0;
	transition: opacity .4s;
}
*/
.portfolio-item .popup-link {
	z-index: -1;
	outline: none;
	opacity: 0;
	transition: opacity .4s;
	display: block;
  text-align: center;
  margin-top: 1em;
  color: rgba(46, 204, 113,1.0);
}

.portfolio-item .popup-link:hover {
	color: rgba(230, 126, 34,1.0);
  text-decoration: none;
}

.portfolio-item:hover .popup-link {
	z-index: 1;
	opacity: 1;
}

.portfolio-item:hover img {
	transform: scale(1.5);
}

/***VQC CUSTOM ***/
.portfolio-item .portfolio-item-overlay {
	opacity: 1;
}

.portfolio-item:hover .portfolio-item-overlay {
	opacity: 1;
}
/*--end portfolio section--*/

/*--testimonials section--*/
/*--end testimonials section--*/

/*--statistics section--*/
/*--end statistics section--*/

/*--blog section--*/

.blog-item {
}

.blog-item img {
  /*vqc remove*/
  /*
	width: 100%;
  */
}

.blog-description {
	background-color: #fff;
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

.blog-title {
	display: block;
	padding: 15px 20px 5px 20px;
	color: #4f5668;
	cursor: pointer;
}

.blog-title:hover {
	text-decoration: none;
	color: #fb876b;
}

.blog-bottom {
	border-top: 1px solid #f8f8f8;
	padding: 5px 20px;
	font-size: 12px;
	font-weight: 300;
	color: #626878;
	overflow: auto;
}

.blog-bottom span:before {
	color: #b8bcc9;
	padding-right: 3px;
}
/*--end blog section--*/

/*--about section--*/
/*--end about section--*/

/*--services section--*/
/*--end services section--*/

/*--testimonials version 2--*/
/*--end testimonials version 2--*/

/*--our clients section--*/
.our-clients-section {
	padding: 60px 0;
}
/*--end our clients section--*/

/*--footer--*/
footer {
	padding-top: 50px;
	background-color: #292a2d;
	color: #949597;
	font-weight: 300;
	font-size: 13px;
}

footer a {
	color: #949597;
}

.footer-logo {
	max-width: 100%;
	max-height: 50px;
}

.footer-contacts {
	margin-top: 15px;
	list-style: none;
	padding-left: 0;
}

.footer-contacts li {
	margin-bottom: 5px;
}

.footer-social {
	padding-top: 5px;
	padding-left: 0;
	list-style: none;
	cursor: pointer;
}

.footer-social i {
	font-size: 18px;
}

.footer-bottom {
	background-color: rgb(37, 38, 41);
	line-height: 35px;
	margin-top: 24px;
}
/*--end footer--*/


/*----about us page----*/
/*--breadcrumbs section--*/
.breadcrumbs-section-adjustable-height {
  background-color: #ecf0f1;
  /*
	background-image: url(images/pattern-2.png); /* Background pattern from subtlepatterns.com */
  */
	background-repeat: repeat;
	line-height: 85px;
	background-attachment: fixed;
}

.breadcrumbs-section {
	height: 85px;
  background-color: #ecf0f1;
  /*
	background-image: url(images/pattern-2.png); /* Background pattern from subtlepatterns.com */
  */
	background-repeat: repeat;
	line-height: 85px;
	background-attachment: fixed;
}

.breadcrumbs-sec-title {
	color: #626878;
	font-size: 20px;
	font-weight: 300;
}
/*--end breadcrumbs section--*/

/*--introduction section--*/

.customer-section {
	padding: 60px 0;
}
/*--end introduction section*/

/*--skills section--*/
/*--end skills section--*/

/*--skills what do--*/
/*--end what do section--*/

/*--team section--*/
/*--end team section--*/
/*--story carousel section--*/
/*--end story carousel section--*/
/*----end about us page----*/


/*----services page----*/
/*----end services page----*/


/*----contacts page----*/
/*----end contacts page----*/


/*----portfolio page----*/
/*----end portfolio page----*/


/*----portfolio inner page----*/
/*----end portfolio inner page----*/


/*----blog page----*/
.blog-sidebar-section {
	padding-top: 30px;
	padding-bottom: 60px;
}

.blog-items-wrap {
	padding-top: 30px;
}

.blog-items-wrap .blog-item {
	margin-bottom: 35px;
}

.blog-items-wrap .blog-description {
	background-color: #f8f8f8;
	cursor: auto;
}

.blog-items-wrap .blog-bottom {
	border-top: 1px solid #fff;
}

.sidebar {
	padding-top: 30px;
	color: #626878;
	font-weight: 14px;
}

.sidebar a {
	color: #626878;
	font-weight: 14px;
}

.sidebar a:hover {
	color: #fb876b;
}

.sidebar-title {
	padding-bottom: 15px;
	font-size: 17px;
	font-weight: 300;
	color: #4f5668;
}

.sidebar-search, .sidebar-category, .sidebar-text, .sidebar-tags {
	background-color: #f8f8f8;
	padding: 15px 20px;
	margin-bottom: 15px;
	border-radius: 3px;
}

.sidebar-text {
	font-weight: 300;
}

/*----end blog page----*/


/*----blog inner page----*/

.blog-inner-text {
	padding: 45px 45px;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.72;
}

blockquote {

}


/*----end blog inner page----*/

/*----shortcodes page----*/
/*----end shortcodes page----*/

/*----media----*/
/* Extra small devices (phones, less than 768px) */
/*@media (max-width: 767px) {*/
/***VQC CUSTOM FOR CUSTOM NAVBAR BREAKPOINT ***/
@media (max-width: 991px) {
	/*header*/
	.contacts-top {
		text-align: center;
	}

	.social-top {
		text-align: center;
		margin-top: 10px;
	}

	.navbar-collapse {
		/*position: absolute;
		z-index: 2;*/
	}

	.navbar-collapse {
		height: 100vh;
		padding-bottom: 109px;
		background-color: #f8f8f8;
	}

	.menu-fixed .navbar-collapse {
		padding-bottom: 50px;
	}

	.navbar-brand, .menu-fixed.navbar.navbar-default .navbar-brand {
		height: 50px;
	}

	.navbar-brand img, .menu-fixed.navbar.navbar-default .navbar-brand img {
		max-height: 30px;
	}

	button.navbar-toggle:focus {
		background-color: transparent;
	}

	header {
		min-height: 80px;
	}

	.nav.navbar-nav.navbar-right > li {
		margin: 0 15px;
	}

	.nav.navbar-nav.navbar-right > li > a, .nav.navbar-nav.navbar-right > li.active > a {
		line-height: 3.5;
		padding: 0;
		border-bottom: 1px solid #eaeaea;
	}

	.navbar-nav .open .dropdown-menu {
		border-bottom: 1px solid #eaeaea;
	}

	.navbar .dropdown-menu li a {
		border: none;
		color: #7b808e;
	}

	/*main slider*/
	.top-slider-caption {
		padding-top: 90px;
		text-align: center;
	}


	.top-slider-caption .btn {
		-webkit-animation-delay: 1.1s;
		-o-animation-delay: 1.1s;
		animation-delay: 1.1s;
	}

	.top-slider-title {
		font-size: 27px;
	}

	.top-slider-text {
		font-size: 14px;
	}

	/*features section*/

	/*testimonials section*/

	/*about us section*/

	.footer-bottom {
		text-align: center;
	}

	/*about us page*/
	.breadcrumbs-section {
		line-height: 30px;
	}

	.breadcrumbs-sec-title {
		margin-top: 15px;
	}

	.breadcrumbs-sec-title, .breadcrumbs-sec-crumbs {
		text-align: center;
	}

	/*about us 2 page*/

	/*services page*/

	/*portfolio inner page*/

	/*blog grid page*/
	.sidebar {
    /*vqc not sure why this padding is needed
    *remove for now
    */
		/*margin-top: 30px;*/
	}

	/*blog inner page*/
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

	/*portfolio inner page*/

	/*blog grid*/
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	/*blog grid*/

}

/* Large devices (large desktops, 1200px and up) */
/*----end media----*/
